* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  background: #d0eaff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  width: 90%;
  max-width: 750px;
  display: flex;
}

.gallery {
  flex-basis: 47%;
  background: #231e20;
}

.gallery img {
  width: 100%;
  display: block;
  padding-top: 100px;
}
